Source: palette-agent
Section: utils
Priority: optional
Maintainer: Palette Software
Package: palette-agent
Version: 1.6.0
Architecture: all
Description: Palette Agent files
Homepage: http://www.palette-software.com
